.App {
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

#heading {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 2rem;
}

#note {
  margin-bottom: 2%;
}

.mainBox {
  font-size: 1.2rem;
  clear: both;
  padding: 1% 1% 3% 1%;
  height: 60%;
  width: 90%;
  margin: auto;
  background-color: aqua;
}

#date-input {
  border-radius: 2rem;
  font-size: 1rem;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#lucky-input {
  appearance: none;
  width: 15%;
  margin-left: 1%;
  text-align: center;
}

.check {
  cursor: pointer;
  background-color: black;
  border-radius: 1rem;
  padding: 0.5%;
  font-size: 1rem;
  color: white;
}

.check:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

#loading-image {
  margin: auto;
  display: none;
  margin-top: 2%;
  height: 10%;
  width: 30%;
}

footer {
  position: absolute;
  height: 12%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.247);
  color: #fff;
  padding: 20px;
}

footer p {
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.514);
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  font-size: 1.3rem;
}

footer ul li a {
  color: rgba(0, 0, 0, 0.623);
  transition: 0.2s all;
}

footer ul li a:hover {
  color: var(--hover-color);
}
