* {
	margin: 0;
	padding: 0;
}

#home {
  height: 100vh;
}

#intro {
  padding-top: 15vh;
  height: 100vh;
}

#blog {
  height: 100vh;
}

#projects {
  height: 100vh;
}

#contact {
  height: 85vh;
}

section {
  padding-top: 15vh;
}

.block_center {
  top: 50%;
  left: 50%;
  /*width: 90%;
  height: 40%;
  border: 3px solid green;*/
}

@media (min-width: 1200px) and (max-width: 2000px) {

	#b-list {
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: space-evenly;
		height: 70%;
	}

	#b-list > #b-ul {
		list-style: none; 
		color: #00FFFF;
		width: 100%;
		height: 100%;
	}

	#b-ul #blog1 {
		width: 45%;
		height: 30%;
		margin-right: 10%;
	}

	#b-ul #blog2 {
		width: 45%;
		height: 30%;
	}

	#b-ul > li {
		margin-top: 7%;
		float: left;
		text-align: left;
	}

	#b-ul #blog-listing-link {
		font-size: 1.7rem;
	}

	#b-ul #blog-date {
		font-size: 0.9rem;
	}

	#b-ul #content-blog {
		font-size: 1rem;
	}

	#b-ul .blog-live-button {
		font-size: 0.9rem;
		background-color: #E6E6FA;
		border: 1px solid #00ff00;
		margin-top: 1%;
		margin-right: 2%;
		padding: 0.8%;
		border-radius: 10%;
	}

	#b-ul .blog-view-source {
		font-size: 0.9rem;
		background-color: #E6E6FA;
		border: 1px solid #00ff00;
		margin-top: 1%;
		margin-right: 2%;
		padding: 0.8%;
		border-radius: 10%;
	}

	#b-ul .blog-view-source:hover {
		font-size: 0.9rem;
		margin-top: 1%;
		margin-right: 2%;
		padding: 0.8%;
		border-radius: 10%;
		background-color: #E6E6FA;
		background-color: #00ff00;
	}

	#b-ul .blog-live-button:hover {
		font-size: 0.9rem;
		margin-top: 1%;
		margin-right: 2%;
		padding: 0.8%;
		border-radius: 10%;
		background-color: #E6E6FA;
		background-color: #00ff00;
	}

	#blogs-read-more {
		display: block;
		margin-top: 30%;
		font-size: 1.2rem;
	}

	.row {
		width: 100%;
	}

	h3 {
		font-weight: 500;
		padding-bottom: 50px;
	}

	.bg {
		background-color: #202020;
	}

	#contact {
		color: #E6E6FA;
		text-align: center;
	}

	#home {
		margin: 10% 10% -20% 10%;
		color: #E6E6FA;
		text-align: center;
	}

	#certifications {
		color: #E6E6FA;
		text-align: center;
	}

	#blog {
		margin: -20% 0% 0% 0%;
		text-align: center;
		color: #E6E6FA;
	}

	#projects {
		margin: -10% 0% 0% 0%;
		color: #E6E6FA;
	}

	.emsg {
		padding-top: -30px;
		margin-bottom: 0;
		color: #00FFFF; 
		font-size: 17px;
	}

	body {
  		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  		font-size: 1.6rem;
  		min-height: 10vh;
  		display: flex;  
  		flex-direction: column;
	}

	#h-list {
		display: inline-block;
	}

	#h-list > #h-ul {
		padding-top: 40px; 
		padding-bottom: 10px;
		list-style: none; 
		float: left;
		color: #00FFFF;
	}

	#h-ul > li {
		float: right;
		padding: 50px;
	}

	.f .wave {
  		animation: wave-animation 0.4s infinite;
	}

	@keyframes wave-animation {
  		0%,
  		100% {
    		transform: rotate(0deg);
  		}
  		25% {
    		transform: rotate(20deg);
  		}
  		75% {
    		transform: rotate(-15deg);
  		}
	}

	#ul1 {
  		display: inline-grid;
  		grid-auto-flow: row;
  		grid-gap: 24px;
  		justify-items: center;
  		margin: auto;
	}


	@media (min-width: 500px) {
 		#fot >  ul {
    		grid-auto-flow: column;
  		}
	}


	#fot {
  		display: flex;
  		height: 70vh;
  		width: 100%;
  		background-color: #202020;
  		line-height: 1.3;
  		font-family: Menlo, monospace;
	}

	.menu:hover .menu__link:not(:hover) {
  		color: #00ff00;
	}

	.menu__list {
  		display: flex;  
  		text-align: center;
  		padding-left: 0;
  		margin-top: 0;
  		margin-bottom: 0;
  		list-style: none;  
	}

	.menu__group {
  		flex-grow: 1;
	}

	.menu__link {
  		display: block;
	}

	.menu {
  		background-color: #070807;
  		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	}

	.menu__link {
  		padding: 2rem 1.5rem;
 	 	font-weight: 300;
  		color: #fff;
  		text-decoration: none;
  		text-transform: uppercase;
	}

	.menu__link:focus {
  		outline: 2px solid #fff;
	}

	.menu__link {
  		position: relative;
  		overflow: hidden;
  		will-change: color;
  		transition: color .25s ease-out;  
	}

	.menu__link::before, .menu__link::after {
  		content: "";
  		width: 0;
  		height: 3px;
  		background-color: #fff;
  		will-change: width;
  		transition: width .1s ease-out;
  		position: absolute;
  		bottom: 0;
	}

	.menu__link::before {
  		left: 50%;
  		transform: translateX(-50%); 
	}

	.menu__link::after {
  		right: 50%;
 		transform: translateX(50%); 
	}

	.menu__link:hover::before, .menu__link:hover::after {
  		width: 100%;
  		transition-duration: .2s;
	}	

	.m {
		margin-top: 30px;
		padding-top: 30px;
	}

	.i {
		font-weight: 200;
		font-size: 25px;
		text-align: center;
		color: #00FFFF; 
		padding-top: 10px;
		padding-bottom: 110px;
	}

	.page {
  		box-sizing: border-box;
  		max-width: 2000px;
  		width: 100%;  
  		position: fixed;
  		order: 1;
  		margin: auto;
	}

}



@media (min-width: 992px) and (max-width: 1199px) {

	#ul1 {
  		display: inline-grid;
  		grid-auto-flow: row;
  		grid-gap: 24px;
  		justify-items: center;
  		margin: auto;
	}


	@media (min-width: 500px) {
 		#fot >  ul {
    		grid-auto-flow: column;
  		}
	}


	#fot {
  		display: flex;
  		height: 100vh;
  		width: 100%;
  		background-color: #202020;
  		line-height: 1.0;
  		font-family: Menlo, monospace;
	}

	.menu:hover .menu__link:not(:hover) {
  		color: #00ff00;
	}

	.menu__list {
  		display: flex;  
  		text-align: center;
  		padding-left: 0;
  		margin-top: 0;
  		margin-bottom: 0;
  		list-style: none;  
	}

	.menu__group {
  		flex-grow: 1;
	}

	.menu__link {
  		display: block;
	}

	.menu {
  		background-color: #070807;
  		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	}

	.menu__link {
  		padding: 2rem 1.5rem;

 	 	font-weight: 300;
  		color: #fff;
  		text-decoration: none;
  		text-transform: uppercase;
	}

	.menu__link:focus {
  		outline: 2px solid #fff;
	}

	.menu__link {
  		position: relative;
  		overflow: hidden;

  		will-change: color;
  		transition: color .25s ease-out;  
	}

	.menu__link::before, .menu__link::after {
  		content: "";
  		width: 0;
  		height: 3px;
  		background-color: #fff;
  		will-change: width;
  		transition: width .1s ease-out;
  		position: absolute;
  		bottom: 0;
	}

	.menu__link::before {
  		left: 50%;
  		transform: translateX(-50%); 
	}

	.menu__link::after {
  		right: 50%;
 		transform: translateX(50%); 
	}

	.menu__link:hover::before, .menu__link:hover::after {
  		width: 100%;
  		transition-duration: .2s;
	}	

	body {
  		font-size: 1.4rem;
  		margin: 0;
	}

	.m {
		margin-top: 50px;
		padding-top: 50px;
	}

	.page {
  		box-sizing: border-box;
  		max-width: 1199px;
  		width: 100%;  
  		order: 1;
  		margin: auto;
  		position: fixed;
	}

	body {
		font-family: "Dosis",sans-serif;
  		text-align: center;
	}

}



@media (min-width: 768px) and (max-width: 991px) {

	#ul1 {
  		display: inline-grid;
  		grid-auto-flow: row;
  		grid-gap: 24px;
  		justify-items: center;
  		margin: auto;
	}


	@media (min-width: 500px) {
 		#fot >  ul {
    		grid-auto-flow: column;
  		}
	}


	#fot {
  		display: flex;
  		height: 100vh;
  		width: 100%;
  		background-color: #202020;
  		line-height: 1.3;
  		font-family: Menlo, monospace;
	}

	.menu:hover .menu__link:not(:hover) {
  		color: #00ff00;
	}

	.menu__list {
  		display: flex;  
  		text-align: center;
  		padding-left: 0;
  		margin-top: 0;
  		margin-bottom: 0;
  		list-style: none;  
	}

	.menu__group {
  		flex-grow: 1;
	}

	.menu__link {
  		display: block;
	}

	.menu {
  		background-color: #070807;
  		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	}

	.menu__link {
  		padding: 2rem 1.5rem;
 	 	font-weight: 300;
  		color: #fff;
  		text-decoration: none;
  		text-transform: uppercase;
	}

	.menu__link:focus {
  		outline: 2px solid #fff;
	}

	.menu__link {
  		position: relative;
  		overflow: hidden;
  		will-change: color;
  		transition: color .25s ease-out;  
	}

	.menu__link::before, .menu__link::after {
  		content: "";
  		width: 0;
  		height: 3px;
  		background-color: #fff;
  		will-change: width;
  		transition: width .1s ease-out;
  		position: absolute;
  		bottom: 0;
	}

	.menu__link::before {
  		left: 50%;
  		transform: translateX(-50%); 
	}

	.menu__link::after {
  		right: 50%;
 		transform: translateX(50%); 
	}

	.menu__link:hover::before, .menu__link:hover::after {
  		width: 100%;
  		transition-duration: .2s;
	}	

	body {
  		font-size: 1.2rem;
  		margin: 0;
	}

	.m {
		margin-top: 50px;
		padding-top: 50px;
	}

	.page {
  		box-sizing: border-box;
  		max-width: 991px;
  		width: 100%;  
  		order: 1;
  		margin: auto;
	}

}



@media (min-width: 576px) and (max-width: 767px) {

	#ul1 {
  		display: inline-grid;
  		grid-auto-flow: row;
  		grid-gap: 24px;
  		justify-items: center;
  		margin: auto;
	}


	@media (min-width: 500px) {
 		#fot >  ul {
    		grid-auto-flow: column;
  		}
	}


	#fot {
  		display: flex;
  		height: 100vh;
  		width: 100%;
  		background-color: #202020;
  		line-height: 1.3;
  		font-family: Menlo, monospace;
	}

	.menu:hover .menu__link:not(:hover) {
  		color: #00ff00;
	}

	.menu__list {
  		display: flex;  
  		text-align: center;
  		padding-left: 0;
  		margin-top: 0;
  		margin-bottom: 0;
  		list-style: none;  
	}

	.menu__group {
  		flex-grow: 1;
	}

	.menu__link {
  		display: block;
	}

	.menu {
  		background-color: #070807;
  		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	}

	.menu__link {
  		padding: 2rem 1.5rem;
 	 	font-weight: 300;
  		color: #fff;
  		text-decoration: none;
  		text-transform: uppercase;
	}

	.menu__link:focus {
  		outline: 2px solid #fff;
	}

	.menu__link {
  		position: relative;
  		overflow: hidden;
  		will-change: color;
  		transition: color .25s ease-out;  
	}

	.menu__link::before, .menu__link::after {
  		content: "";
  		width: 0;
  		height: 3px;
  		background-color: #fff;
  		will-change: width;
  		transition: width .1s ease-out;
  		position: absolute;
  		bottom: 0;
	}

	.menu__link::before {
  		left: 50%;
  		transform: translateX(-50%); 
	}

	.menu__link::after {
  		right: 50%;
 		transform: translateX(50%); 
	}

	.menu__link:hover::before, .menu__link:hover::after {
  		width: 100%;
  		transition-duration: .2s;
	}	

	body {
  		font-size: 1.0rem;
  		margin: 0;
	}

	.m {
		margin-top: 50px;
		padding-top: 50px;
	}

	.page {
  		box-sizing: border-box;
  		max-width: 767px;
  		width: 100%;  
  		order: 1;
  		margin: auto;
	}

}



@media (min-width: 1px) and (max-width: 575px) {

	#ul1 {
  		display: inline-grid;
  		grid-auto-flow: row;
  		grid-gap: 24px;
  		justify-items: center;
  		margin: auto;
	}


	@media (min-width: 500px) {
 		#fot >  ul {
    		grid-auto-flow: column;
  		}
	}


	#fot {
  		display: flex;
  		height: 100vh;
  		width: 100%;
  		background-color: #202020;
  		line-height: 1.3;
  		font-family: Menlo, monospace;
	}

	.menu:hover .menu__link:not(:hover) {
  		color: #00ff00;
	}

	.menu__list {
  		display: flex;  
  		text-align: center;
  		padding-left: 0;
  		margin-top: 0;
  		margin-bottom: 0;
  		list-style: none;  
	}

	.menu__group {
  		flex-grow: 1;
	}

	.menu__link {
  		display: block;
	}

	.menu {
  		background-color: #070807;
  		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	}

	.menu__link {
  		padding: 2rem 1.5rem;
 	 	font-weight: 300;
  		color: #fff;
  		text-decoration: none;
  		text-transform: uppercase;
	}

	.menu__link:focus {
  		outline: 2px solid #fff;
	}

	.menu__link {
  		position: relative;
  		overflow: hidden;
  		will-change: color;
  		transition: color .25s ease-out;  
	}

	.menu__link::before, .menu__link::after {
  		content: "";
  		width: 0;
  		height: 3px;
  		background-color: #fff;
  		will-change: width;
  		transition: width .1s ease-out;
  		position: absolute;
  		bottom: 0;
	}

	.menu__link::before {
  		left: 50%;
  		transform: translateX(-50%); 
	}

	.menu__link::after {
  		right: 50%;
 		transform: translateX(50%); 
	}

	.menu__link:hover::before, .menu__link:hover::after {
  		width: 100%;
  		transition-duration: .2s;
	}	

	body {
  		font-size: 0.5rem;
  		margin: 0;
	}

	.m {
		margin-top: 50px;
		padding-top: 50px;
	}

	.page {
  		box-sizing: border-box;
  		max-width: 575px;
  		min-width: 200px;
  		width: 100%;  
  		order: 1;
  		margin: auto;
	}

}

