* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightyellow;
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    body img {
        margin-top: 2%;
        height: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    p {
        margin-top: 2%;
        text-align: center;
        font-weight: bold;
        font-size: 8vh;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    body img {
        margin-top: 5%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    p {
        margin-top: 5%;
        text-align: center;
        font-weight: bold;
        font-size: 5vw;
    }
}

@media screen and (min-width: 200px) and (max-width: 799px) {
    body img {
        margin-top: 2%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    p {
        margin-top: 2%;
        text-align: center;
        font-weight: bold;
        font-size: 5vw;
    }
}