* {
    margin: 0;
}

#git {
    margin-top: 1%;
    display: block;
    font-size: 2rem;
    text-align: center;
}

#b-list {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    height: 70%;
}

#heading {
    margin-top: 3%;
    text-align: center;
    font-size: 2rem;
    color: blueviolet;
} 

#b-list > #b-ul {
    list-style: none; 
    color: black;
    width: 100%;
    height: 100%;
}

#b-ul #project1 {
    width: 45%;
    height: 30%;
    margin-right: 10%;
}

#b-ul #project2 {
    width: 45%;
    height: 30%;
}

#b-ul > li {
    margin-top: 5%;
    float: left;
    text-align: left;
}

#b-ul #project-listing-link {
    font-size: 1.3rem;
}

#b-ul #content-project {
    font-size: 1.5rem;
}

#b-ul .project-live-button {
    font-size: 0.9rem;
    background-color: #E6E6FA;
    border: 1px solid #00ff00;
    margin-top: 0.5%;
    margin-right: 2%;
    padding: 0.8%;
    border-radius: 10%;
}

#b-ul #project-listing-link {
    text-decoration: none;
    font-weight: bolder;
    color: blueviolet;
}

#b-ul .project-view-source {
    font-size: 0.9rem;
    background-color: #E6E6FA;
    border: 1px solid blueviolet;
    margin-top: 0.5%;
    margin-right: 2%;
    padding: 0.8%;
    border-radius: 10%;
}

#b-ul .project-view-source:hover {
    font-size: 0.9rem;
    margin-top: 0.5%;
    margin-right: 2%;
    padding: 0.8%;
    border-radius: 10%;
    background-color: #E6E6FA;
    background-color: blueviolet;
}

#b-ul .project-live-button:hover {
    font-size: 0.9rem;
    margin-top: 0.5%;
    margin-right: 2%;
    padding: 0.8%;
    border-radius: 10%;
    background-color: #E6E6FA;
    background-color: blueviolet;
}

footer {
    margin-top: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.247);
    color: #fff;
    padding: 20px;
}
  
footer p {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.514);
}
  
footer ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    font-size: 1.3rem;
}
  
footer ul li a {
    color: rgba(0, 0, 0, 0.623);
    transition: 0.2s all;
}
  
footer ul li a:hover {
    color: var(--hover-color);
}